<% layout('layout/boilerplate') -%>


<div class="row">
    <div class="col-6 mx-auto">
        <form method="post" action="/products/<%= produc._id %>?_method=PATCH">
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" id="name" placeholder="Product Name" name="name" value="<%= produc.name %>">
            </div>
            <div class="mb-3">
              <label for="img" class="form-label">Image</label>
              <input type="text" class="form-control" id="img"placeholder="Image URL" name="img" value="<%= produc.img %>">
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">Price</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type="number" class="form-control" id="price"placeholder="Product Price"name="price" value="<%= produc.price %>">
                </div>
                
            </div>
            <div class="mb-3">
                <label class="form-label" for="desc">Description</label>
                <input type="text" class="form-control" id="desc" placeholder="Product Description"name="desc" value="<%= produc.desc %>">
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>